# Coursera Capstone Project

### Submission (1st week only so far):

1st week:
 - A description of the problem and a discussion of the background. (15 marks)
 - A description of the data and how it will be used to solve the problem. (15 marks)

2nd week:
 - A link to your Notebook on your Github repository, showing your code. (15 marks)
 - A full report consisting of all of the following components (15 marks):
        - Introduction where you discuss the business problem and who would be interested in this project.
        - Data where you describe the data that will be used to solve the problem and the source of the data.
        - Methodology section which represents the main component of the report where you discuss and describe any exploratory data analysis that you did, any inferential statistical testing that you performed, if any, and what machine learnings were used and why.
        - Results section where you discuss the results.
        - Discussion section where you discuss any observations you noted and any recommendations you can make based on the results.
        - Conclusion section where you conclude the report.
 - Your choice of a presentation or blogpost. (10 marks)

## 1. Introduction

### 1.1. Description of the problem and a discussion of the background.

###### "Clearly define a problem or an idea of your choice, where you would need to leverage the Foursquare location data to solve or execute. Remember that data science problems always target an audience and are meant to help a group of stakeholders solve a problem, so make sure that you explicitly describe your audience and why they would care about your problem."

London is the most populated city in the UK. It is very attracted to tourists as well as immigrants looking to move for a living. Considering all the benefits London can bring, it is also highly competitive, no surprise that cost of living is very high. It is always a challenge to find the most suitable place to rent a flat and at the same time to be quite close to all needed venues.

This Project would help the stakeholders to take a thoughtful decision on choosing the best borough to rent a flat in London based on the distribution of various facilities in and around that borough. As an example, this project would compare 2 randomly picked boroughs and analyse the top 10 most common venues in each of those two boroughs based on number of visits. Also, this project will use Machine Lerning algotihms to cluster the venues based on the unique characteristics of categories, for example: restaurants, park, coffee shop, gym etc. This would give a better understanding of the similarities and dissimilarities between the two chosen boroughs.

As the main goal, we would like to provide targeted information near property to let out for real estate agents.

Being target audience, real estate agents would benefit the most from this project, as they compete for the same customer, while customers want to find the most appropriate flat for themselves. Deep knowledge of the area and borough brings a competitive advantage.

### 1.2. Description of the data and how it will be used to solve the problem

###### Describe the data that you will be using to solve the problem or execute your idea. Remember that you will need to use the Foursquare location data to solve the problem or execute your idea. You can absolutely use other datasets in combination with the Foursquare location data. So make sure that you provide adequate explanation and discussion, with examples, of the data that you will be using, even if it is only Foursquare location data.

Geo codes in London will be collected from https://data.london.gov.uk/dataset/statistical-gis-boundary-files-london?resource=9ba8c833-6370-4b11-abdc-314aa020d5e0. This will allow us to be able to plot the London borough boundaries on the map. 

London average house prices in boroughs will be taken from: https://www.cityam.com/london-house-prices-how-london-boroughs-house-prices-have-changed-since-the-last-election/

I will also use the FourSquare API to collect data about locations of different venues in the boroughs. I will connect to Foursquare API using the Client ID and Client Secret.

Furthermore, various python libraries will be used as imported below to create maps and machine learning models:
 - Pandas - Library for Data Analysis
 - NumPy – Library to handle data in a vectorized manner
 - JSON – Library to handle JSON files
 - Geopy – To retrieve Location Data
 - Requests – Library to handle http requests
 - Matplotlib – Python Plotting Module
 - Sklearn – Python machine learning Library
 - Folium – Map rendering Library

The combination of this data will help us to gather insights and provide efficient recommendations to our target audience based on the results.

#### Importing Libraries

In [149]:
import numpy as np # library to handle data in a vectorized manner
import time
import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files
import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe


!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values
from geopy.extra.rate_limiter import RateLimiter

!conda install -c conda-forge folium=0.5.0 --yes 
import folium # map rendering library
from folium import plugins

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

import seaborn as sns

# import k-means from clustering stage
from sklearn.cluster import KMeans



print('Libraries imported.')

Solving environment: done

# All requested packages already installed.

Solving environment: done

# All requested packages already installed.

Libraries imported.

In [152]:
#### In order to segement the neighborhoods and explore them, we will  need a dataset that contains data of latitude and logitude coordinates of each neighborhood. 
xls_file = pd.ExcelFile('https://data.london.gov.uk/download/london-borough-profiles/80647ce7-14f3-4e31-b1cd-d5f7ea3553be/london-borough-profiles.xlsx')
xls_file

In [153]:
#### examining data
df = pd.read_excel(xls_file, sheet_name = 'Data')
df

,Code,New code,Area name,Inner/ Outer London,GLA Population Estimate 2017,GLA Household Estimate 2017,Inland Area (Hectares),Population density (per hectare) 2017,"Average Age, 2017","Proportion of population aged 0-15, 2015","Proportion of population of working-age, 2015","Proportion of population aged 65 and over, 2015",Net internal migration (2015),Net international migration (2015),Net natural change (2015),% of resident population born abroad (2015),Largest migrant population by country of birth (2011),% of largest migrant population (2011),Second largest migrant population by country of birth (2011),% of second largest migrant population (2011),Third largest migrant population by country of birth (2011),% of third largest migrant population (2011),% of population from BAME groups (2016),% people aged 3+ whose main language is not English (2011 Census),"Overseas nationals entering the UK (NINo), (2015/16)","New migrant (NINo) rates, (2015/16)",Largest migrant population arrived during 2015/16,Second largest migrant population arrived during 2015/16,Third largest migrant population arrived during 2015/16,Employment rate (%) (2015),Male employment rate (2015),Female employment rate (2015),Unemployment rate (2015),Youth Unemployment (claimant) rate 18-24 (Dec-15),Proportion of 16-18 year olds who are NEET (%) (2014),Proportion of the working-age population who claim out-of-work benefits (%) (May-2016),% working-age with a disability (2015),Proportion of working age people with no qualifications (%) 2015,Proportion of working age with degree or equivalent and above (%) 2015,"Gross Annual Pay, (2016)",Gross Annual Pay - Male (2016),Gross Annual Pay - Female (2016),Modelled Household median income estimates 2012/13,% adults that volunteered in past 12 months (2010/11 to 2012/13),Number of jobs by workplace (2014),% of employment that is in public sector (2014),"Jobs Density, 2015","Number of active businesses, 2015",Two-year business survival rates (started in 2013),Crime rates per thousand population 2014/15,Fires per thousand population (2014),Ambulance incidents per hundred population (2014),"Median House Price, 2015","Average Band D Council Tax charge (£), 2015/16",New Homes (net) 2015/16 (provisional),"Homes Owned outright, (2014) %","Being bought with mortgage or loan, (2014) %","Rented from Local Authority or Housing Association, (2014) %","Rented from Private landlord, (2014) %","% of area that is Greenspace, 2005",Total carbon emissions (2014),"Household Waste Recycling Rate, 2014/15","Number of cars, (2011 Census)","Number of cars per household, (2011 Census)","% of adults who cycle at least once per month, 2014/15","Average Public Transport Accessibility score, 2014","Achievement of 5 or more A*- C grades at GCSE or equivalent including English and Maths, 2013/14",Rates of Children Looked After (2016),% of pupils whose first language is not English (2015),% children living in out-of-work households (2015),"Male life expectancy, (2012-14)","Female life expectancy, (2012-14)",Teenage conception rate (2014),Life satisfaction score 2011-14 (out of 10),Worthwhileness score 2011-14 (out of 10),Happiness score 2011-14 (out of 10),Anxiety score 2011-14 (out of 10),Childhood Obesity Prevalance (%) 2015/16,People aged 17+ with diabetes (%),Mortality rate from causes considered preventable 2012/14,Political control in council,Proportion of seats won by Conservatives in 2014 election,Proportion of seats won by Labour in 2014 election,Proportion of seats won by Lib Dems in 2014 election,Turnout at 2014 local elections
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E09000001,E09000001,City of London,Inner London,8800.0,5325.82,290.393,30.3037,43.2,11.4,73.1,15.5,-7,665,30,.,United States,2.77966,France,1.99322,Australia,1.85763,27.4675,17.1381,975.0,152.224824,India,France,United States,64.6,.,.,.,1.63399,.,3.43482,.,.,.,.,.,.,63620,.,500400,3.424988,84.29,26130.0,64.3,.,12.2785,.,799999,931.2,80,.,.,.,.,4.8,1036.11,34.4,1692.0,0.385861,16.8532,7.8623,78.6,101,.,7.908612,.,.,.,6.59,7.08,5.99,5.57,NaN,2.637945,128.833,.,.,.,.,.
2,E09000002,E09000002,Barking and Dagenham,Outer London,209000.0,78188.4,3610.78,57.8822,32.9,27.2,63.1,9.7,-1176,2509,2356,37.8,Nigeria,4.67697,India,2.34736,Pakistan,2.33284,49.5318,18.7242,7538.0,59.139658,Romania,Bulgaria,Lithuania,65.8,75.6,56.5,11,4.49666,5.7,10.5287,17.2,11.3,32.2,27886,30104,24602,29420,20.5297,58900,21.104536,0.48,6560.0,73.0,83.3591,3.03015,13.6693,243500,1354.03,730,16.4379,27.3545,35.9172,20.2904,33.6,643.788,23.4,56966.0,0.817526,8.78045,2.97063,58,69,41.6678,18.718697,77.6,82.1,32.4,7.14,7.60,7.05,3.05,28.542,7.272108,227.605,Lab,0,100,0,36.4974
3,E09000003,E09000003,Barnet,Outer London,389600.0,151423,8674.83,44.9115,37.3,21.1,64.9,14.0,-3379,5407,2757,35.2,India,3.06185,Poland,2.41704,Iran,2.03207,38.6637,23.405,13094.0,53.113642,Romania,Poland,Italy,68.5,74.5,62.9,8.5,1.93749,2.5,6.20214,14.9,5.2,49,33443,36475,31235,40530,33.1766,167300,18.666667,0.67,26190.0,73.8,62.7384,1.624,11.1131,445000,1397.07,1460,32.3901,25.1552,11.075,31.0823,41.3,1415.11,38,144717.0,1.064753,7.36457,2.9967,67.3,35,46.0096,9.310167,82.1,85.1,12.8,7.48,7.76,7.37,2.75,20.6579,6.026084,133.77,Cons,50.7937,.,1.5873,40.481
4,E09000004,E09000004,Bexley,Outer London,244300.0,97735.8,6058.07,40.3264,39.0,20.6,62.9,16.6,413,760,1095,16.1,Nigeria,2.59098,India,1.46683,Ireland,0.906477,21.4063,6.03129,2198.0,14.433558,Romania,Poland,Nigeria,75.1,82.1,68.5,7.6,2.85371,3.4,6.77681,15.9,10.8,33.5,34350,37881,28924,36990,22.1345,80700,15.879828,0.56,9075.0,73.5,51.8279,2.26968,11.755,275000,1472.43,-130,38.0855,35.3185,15.2126,11.3835,31.7,974.621,54,108507.0,1.171731,10.557,2.55213,60.3,46,32.6232,12.622150,80.4,84.4,19.5,7.38,7.70,7.21,3.29,22.7093,6.859383,164.286,Cons,71.4286,23.8095,0,39.6308
5,E09000005,E09000005,Brent,Outer London,332100.0,121048,4323.26,76.817,35.6,20.9,67.8,11.3,-7739,7640,3372,53.9,India,9.17308,Poland,3.39797,Ireland,2.85044,64.8563,37.1511,22162.0,100.890910,Romania,Italy,Portugal,69.5,76,62.6,7.5,3.07824,2.6,8.2581,17.7,6.2,45.1,29812,30129,29600,32140,17.2586,133600,17.626527,0.61,15745.0,74.4,78.8019,1.82101,12.0792,407250,1377.24,1050,22.2307,22.6483,20.3646,34.7564,21.9,1175.07,35.2,87802.0,0.796130,7.87387,3.65371,60.1,45,37.6362,13.734973,80.1,85.1,18.5,7.25,7.35,7.22,2.92,24.3444,7.920348,169.356,Lab,9.52381,88.8889,1.5873,36.272
6,E09000006,E09000006,Bromley,Outer London,327900.0,140602,15013.5,21.8404,40.2,19.9,62.6,17.5,1342,796,1445,18.3,India,1.12285,Ireland,1.05239,Nigeria,0.74307,18.9481,5.79282,2924.0,14.370245,Romania,Italy,Spain,75.3,80.4,70.4,5.3,2.53807,4.3,6.01054,15.9,4.3,46.7,37682,42026,32491,43060,28.9726,127800,13.949105,0.60,15695.0,78.6,64.1336,2.33209,11.2447,374975,1347.27,700,37.7709,34.9168,13.1664,14.1458,57.8,1179.8,48,153908.0,1.176109,12.9768,2.77986,68,40,38.9382,10.232399,81.4,84.9,16.7,7.54,7.86,7.44,3.26,15.9988,5.242389,148.495,Cons,85,11.6667,0,40.834
7,E09000007,E09000007,Camden,Inner London,242500.0,107654,2178.93,111.293,36.4,17.3,71.0,11.7,-2917,7504,1618,41.4,United States,2.8429,Bangladesh,2.69904,Ireland,2.365,34.5934,23.4633,10384.0,60.697105,Italy,France,Spain,69.2,72.2,66.1,4,3.63115,4.4,8.52822,21.3,6.1,61.1,39796,.,36632,43750,21.9179,377400,12.391931,2.23,31385.0,73.6,123.499,2.69576,14.8032,700000,1359.66,970,18.5422,15.1115,34.3853,31.9609,24.8,1288.32,26.3,46601.0,0.477792,18.8181,5.69027,62.7,41,25.2327,16.494888,81.8,86.7,16.8,7.14,7.38,7.11,3.61,21.3267,3.858989,163.752,Lab,22.2222,74.0741,1.85185,38.6795
8,E09000008,E09000008,Croydon,Outer London,386500.0,159010,8650.36,44.6802,37.0,22.0,64.9,13.0,-2605,2438,3164,29.4,India,3.63808,Jamaica,2.54281,Ghana,1.47587,49.9179,14.4953,7946.0,32.283752,Romania,Poland,Italy,75.4,81.8,69.5,4.1,4.80365,3.3,7.78044,17.5,7,40.6,32696,35839,29819,37000,27.187,141600,20.118846,0.58,15540.0,75.3,77.0351,2.22665,12.7975,300000,1494.13,2040,30.77,33.5749,16.7228,18.6362,37.1,1237.29,39.9,140049.0,0.965789,12.7604,3.22408,57.7,86,36.7125,14.145267,80.3,83.6,28.4,7.10,7.57,7.18,3.30,24.4814,6.483704,178.212,Lab,42.8571,57.1429,0,38.6008
9,E09000009,E09000009,Ealing,Outer London,351600.0,132663,5554.43,63.3008,36.2,21.4,66.8,11.8,-6473,4007,3404,47.4,India,7.62892,Poland,6.35458,Ireland,2.26474,53.4547,33.8785,14927.0,65.151826,Poland,Romania,Italy,72.7,81.2,63.8,5.8,2.95563,3,7.89574,15.2,9.1,49.7,31331,32185,29875,36070,32.0799,160500,13.574661,0.71,18700.0,75.8,75.4758,1.88854,11.3234,430000,1335.93,720,20.1181,30.2399,14.2802,34.9743,30.9,1341.64,40.1,112845.0,0.909439,15.0358,3.3025,62.1,46,43.6062,13.130648,80.6,84.2,17.8,7.29,7.57,7.26,3.57,23.8228,6.919389,163.541,Lab,17.3913,76.8116,5.7971,41.1755
10,E09000010,E09000010,Enfield,Outer London,333000.0,130328,8083.2,41.1966,36.3,22.8,64.4,12.8,-2077,3164,2769,35,Turkey,4.47025,Cyprus (Not otherwise specified),3.55719,Poland,1.92373,42.2884,22.8532,9259.0,43.757709,Romania,Bulgaria,Poland,73.0,80.4,66,3.8,3.34031,3.1,9.25817,18.4,4.5,43.4,31603,35252,30222,33110,22.436,128800,21.653543,0.62,13925.0,74.2,69.3739,2.22838,12.16,320000,1420.17,670,25.5977,36.2108,17.1959,20.9956,45.6,1245.04,38.5,119653.0,0.997807,7.88272,2.97149,59.9,43,55.3253,17.351818,80.7,84.1,24.6,7.26,7.57,7.33,2.60,25.1879,7.042382,151.968,Lab,34.9206,65.0794,0,38.1795
11,E09000011,E09000011,Greenwich,Outer London,280100.0,113964,4733.39,59.1754,35.0,21.9,67.7,10.4,-407,3366,2989,35.4,Nigeria,5.11202,Nepal,1.90645,India,1.71553,40.3156,16.864,7002.0,37.630392,Romania,Bulgaria,Italy,72.1,77.9,66.3,8.1,5.35714,5,9.46403,20.2,10.6,42.2,32415,35596,29833,35350,17.4124,94700,27.260638,0.51,10060.0,72.7,79.3764,2.54402,11.891,340000,1296.18,1720,19.2422,26.8944,34.1524,19.7109,34.4,1014.3,34.3,78185.0,0.773764,7.68348,3.44341,58.8,78,44.1443,17.054488,79,82.5,28.1,7.20,7.55,7.20,3.40,27.7255,6.131174,193.199,Lab,15.6863,84.3137,0,37.2543
12,E09000012,E09000012,Hackney,Inner London,274300.0,115417,1904.9,143.997,33.1,20.7,72.1,7.2,-738,3359,3236,35.8,Turkey,3.64722,Nigeria,2.71734,Jamaica,1.80452,43.6448,24.0877,8927.0,46.015701,Italy,France,Spain,69.0,72.8,65.3,5.9,4.83073,3,10.6753,17.9,10.8,49.2,32056,.,31919,35140,29.6392,132800,18.079096,0.70,18510.0,76.8,99.6468,2.66055,11.4534,485000,1294.42,830,11.0779,19.7547,45.435,23.272,23.2,812.601,25.3,41800.0,0.411053,25.2153,4.91668,60.6,53,44.1576,19.697728,78.5,83.3,24.7,7.03,7.31,6.99,3.76,27.0025,5.774770,210.585,Lab,7.01754,87.7193,5.26316,39.3926
13,E09000013,E09000013,Hammersmith and Fulham,Inner London,185300.0,83552.4,1639.75,113.005,35.7,17.4,72.3,10.3,-3361,2926,1462,43.2,France,2.72723,Ireland,2.66969,Australia,2.52119,33.7408,22.6874,9256.0,71.397166,Italy,France,Spain,77.5,80.9,74.2,4.7,2.21902,2.5,8.40012,12.9,4.9,67.5,38041,43845,34808,43820,30.4819,149500,16.437309,1.18,14095.0,73.4,113.227,1.99557,12.2062,730000,1003.81,370,19.0893,21.8379,25.9367,33.1361,19.1,809.304,20.7,43843.0,0.544025,20.071,4.66904,60.5,58,48.8899,16.058190,79.7,84.1,22.4,7.41,7.53,7.16,3.09,21.3181,4.411301,187.439,Lab,43.4783,56.5217,0,37.6268
14,E09000014,E09000014,Haringey,Inner London,278000.0,115608,2959.84,93.924,35.1,20.0,70.7,9.3,-4233,6675,2885,39.6,Poland,4.26202,Turkey,3.96036,Jamaica,2.02608,38.1539,29.7149,15144.0,78.478520,Romania,Italy,Bulgaria,71.3,77.6,64.8,5.7,5.64344,3.5,9.67508,16.3,8.8,49.2,31063,.,29513,35420,29.849,91500,17.806268,0.48,12675.0,74.4,90.2136,2.09189,12.2903,432500,1484.01,240,17.9513,24.7474,33.3569,23.9444,25.5,772.544,37.3,61515.0,0.603354,14.0918,4.30837,59.7,67,48.0143,16.912525,80.1,84.9,22.6,7.24,7.50,7.19,3.18,23.824,5.890876,183.383,Lab,0,84.2105,15.7895,38.1039
15,E09000015,E09000015,Harrow,Outer London,252300.0,92556.9,5046.27,49.9973,38.3,20.5,64.5,15.0,-3644,2833,1933,49.6,India,9.01002,Kenya,4.89676,Sri Lanka,4.3471,61.7623,28.4863,10427.0,65.413642,Romania,India,Poland,73.9,83.1,64.7,4.6,2.4339,1.5,5.44539,13.9,4.2,47.9,33202,.,29335,38880,38.8776,88600,14.459459,0.55,15155.0,76.5,50.3961,1.34062,9.83718,396150,1559.61,910,33.4971,32.7527,8.91099,24.6067,34.6,747.921,45.1,100326.0,1.190559,8.28524,2.8702,66.4,32,57.6035,9.069992,82.7,86.1,11,7.33,7.42,7.31,2.71,20.1817,8.457954,134.185,Lab,41.2698,53.9683,1.5873,40.6843
16,E09000016,E09000016,Havering,Outer London,254300.0,104098,11235,22.6347,40.3,19.3,62.3,18.4,1710,604,785,10.9,Ireland,1.05509,India,0.969937,Nigeria,0.944645,15.6985,4.56601,2642.0,17.033513,Romania,Lithuania,Poland,76.5,81.3,71.8,5.3,3.26774,4,7.01456,18.2,10.5,26,33398,36539,27455,36670,16.9383,91300,20.680958,0.60,10115.0,75.3,62.9255,2.53268,12.9171,287500,1543.64,1010,35.1547,33.8822,17.2098,13.7532,59.3,1031.88,32.4,117634.0,1.210239,7.80121,2.50457,59.8,42,38.9161,12.574662,80.2,83.9,22.8,7.39,7.65,7.21,3.28,21.7873,5.908371,159.281,No Overall Control,40.7407,1.85185,0,43.0671
17,E09000017,E09000017,Hillingdon,Outer London,301000.0,110827,11570.1,26.0153,36.4,21.3,65.6,13.1,-1616,4139,2458,32.4,India,5.70097,Pakistan,1.76136,Ireland,1.57811,45.6688,18.7622,6993.0,35.811219,Romania,Poland,India,73.2,80.7,65.9,5.8,2.45692,2.4,6.4832,17.9,8.7,40.2,33508,36107,28778,37040,23.7557,220900,11.404797,1.03,13505.0,75.0,76.6197,2.55305,14.7081,350000,1388.93,710,22.2382,32.9631,16.553,28.2458,49.2,1713.26,43.8,122486.0,1.222244,12.264,2.36309,62,49,29.5912,12.338204,80.4,83.9,20.5,7.37,7.68,7.28,3.47,21.0931,6.363473,170.132,Cons,64.6154,35.3846,0,36.0635
18,E09000018,E09000018,Hounslow,Outer London,274200.0,105887,5597.79,48.9836,35.8,21.1,67.6,11.3,-3994,4425,2871,46.3,India,10.7451,Poland,4.07746,Pakistan,2.77645,51.6384,28.7302,11336.0,62.412941,Romania,India,Poland,74.2,84.7,63.2,4.3,2.86871,3.2,6.06731,17.6,6.5,45.5,31001,32235,27226,35330,26.9253,165700,11.744023,1.02,13910.0,76.2,79.1557,2.11668,12.1324,355000,1355.77,480,25.4561,27.0045,19.1894,28.35,39.6,1277.24,34.5,94042.0,0.990938,16.0344,3.03052,63.2,45,50.5921,13.496839,80,83.9,25,7.31,7.62,7.40,3.39,24.0913,6.480170,165.833,Lab,18.3333,81.6667,0,36.8062
19,E09000019,E09000019,Islington,Inner London,231200.0,105038,1485.67,155.62,34.8,15.9,75.3,8.8,-1480,6295,1819,36.6,Ireland,2.75464,Turkey,1.83238,United States,1.52432,32.024,19.8575,9302.0,54.263430,Italy,France,Spain,72.6,78.2,67,4.5,4.46281,5.2,10.4537,14.6,6.2,62.7,36592,38284,.,39790,31.1286,231500,14.513109,1.45,22110.0,72.5,121.224,2.55445,13.9301,583000,1296.15,1030,15.3618,23.5433,35.2791,25.4626,12.4,877.751,32.8,38629.0,0.412897,21.3568,5.74292,59.9,88,57.5509,23.425716,79,83.5,20.2,7.17,7.42,7.06,3.70,22.8464,5.008149,202.81,Lab,0,97.9167,0,38.3799
20,E09000020,E09000020,Kensington and Chelsea,Inner London,159000.0,80199.9,1212.4,131.145,39.3,16.4,69.3,14.3,-1741,2234,1047,51.9,United States,4.97702,France,4.19732,Italy,2.72425,29.962,27.9554,7237.0,66.245595,Italy,France,Spain,68.2,76.3,60.4,4.2,3.36434,3.6,7.21314,14.3,5.2,65.2,.,.,.,55620,31.0787,143500,14.729299,1.36,14350.0,74.5,120.904,2.02182,12.7375,1200000,1058.58,380,22.6417,15.149,29.1182,33.0911,15.1,1153.8,25.3,44536.0,0.567078,16.9184,5.79307,68.7,37,45.8246,10.960105,83.3,86.4,14.2,7.61,7.80,7.56,3.10,18.5841,4.180189,136.338,Cons,74,24,2,29.8144
21,E09000021,E09000021,Kingston upon Thames,Outer London,175400.0,69848.5,3726.12,47.0731,37.1,19.6,67.2,13.2,-226,2547,1207,29.8,Sri Lanka,2.19293,India,1.77433,Korea (South),1.42759,30.3986,16.4242,3205.0,27.489257,Bulgaria,Romania,Poland,74.4,80.9,67.8,4.5,2.01534,3.9,4.63158,15.3,5.9,53.7,37979,41288,33400,43940,42.7023,83700,17.103448,0.81,8970.0,76.8,58.4557,1.77028,11.074,410000,1683.24,240,27.7306,38.8624,10.7089,22.4185,36.4,678.44,45.7,70421.0,1.106570,20.4481,2.92825,68.6,30,39.2894,7.651769,82,84.6,15.3,7.34,7.68,7.41,3.29,16.9056,4.855511,140.585,Cons,58.3333,4.16667,37.5,43.0953
22,E09000022,E09000022,Lambeth,Inner London,328900.0,144400,2681,122.678,34.5,17.6,74.6,7.8,-1572,4598,3130,32.2,Jamaica,3.21493,Portugal,2.30694,Poland,2.2878,41.5066,20.2544,11259.0,46.525178,Spain,Italy,Poland,78.5,82.3,74.6,5.9,4.0736,2.2,8.7604,16.1,6.2,65,33441,35995,30173,38490,31.6648,184000,23.143813,0.76,17280.0,63.8,104.623,2.47406,13.3348,450000,1257.35,1350,10.8868,24.9132,29.7927,34.4074,17.3,1091.48,28.3,66791.0,0.513710,15.9652,5.04711,57.1,73,39.0536,18.138729,78.9,83.3,33.8,7.14,7.46,7.20,3.53,22.9528,4.993388,204.976,Lab,4.7619,93.6508,0,34.5004
23,E09000023,E09000023,Lewisham,Inner London,303400.0,131076,3514.93,86.3175,35.0,20.6,70.1,9.3,-1536,3683,3239,34.9,Jamaica,3.51487,Nigeria,3.46304,Poland,1.57566,47.4372,16.4805,7978.0,38.302919,Romania,Spain,Italy,75.9,79.6,72.4,5.7,5.97092,3.5,9.82779,16.5,5.8,53.3,33157,.,31641,35900,27.8685,90000,24.773414,0.40,10405.0,73.4,76.9795,2.17287,11.9935,352000,1378.66,1540,16.4946,31.7179,28.1384,23.6491,22.5,825.06,17.1,76507.0,0.659026,16.1049,4.08989,56.3,69,40.8775,17.934368,79,83.4,31.3,7.18,7.63,7.26,3.43,23.5846,6.057015,190.84,Lab,0,98.1481,0,37.2038
24,E09000024,E09000024,Merton,Outer London,208100.0,84201.2,3762.47,55.3094,36.7,20.6,67.2,12.2,-2060,1077,2029,37.4,Poland,3.4528,Sri Lanka,3.16836,South Africa,2.83435,36.7398,21.0672,6684.0,48.598185,Poland,Romania,Bulgaria,78.8,86.3,71.4,4.6,3.85604,4.3,5.73668,13.5,4.7,58,33989,.,30722,41960,21.9915,96800,12.234707,0.71,12070.0,78.4,59.7472,1.84772,10.3613,415000,1382.45,510,21.7441,32.7356,16.228,29.2922,34.6,690.711,37.5,72777.0,0.924070,14.4278,3.40559,67.8,35,34.1909,10.439538,80.4,84.2,19.7,7.28,7.54,7.13,3.56,19.2151,5.573441,161.803,Lab,33.3333,60,1.66667,41.2923
25,E09000025,E09000025,Newham,Inner London,342900.0,119172,3619.84,94.728,32.1,22.7,70.2,7.0,-7273,11182,4616,54.1,India,8.70402,Bangladesh,6.80068,Pakistan,5.34508,73.0569,41.3863,25604.0,109.555045,Romania,India,Bulgaria,66.2,75,56.1,9.1,4.11648,4.3,8.01852,12.7,11,43.4,27942,30141,24006,28780,8.41746,111100,23.092999,0.48,11055.0,70.0,90.8188,2.51838,12.2387,305000,1240.54,1440,9.3795,16.7266,31.42,42.4739,23.9,1261,17.2,61092.0,0.601779,5.57195,3.90578,55.7,42,58.7896,15.439011,78.5,83,22.5,7.12,7.43,7.18,3.37,27.5862,7.646235,193.399,Lab,0,100,0,40.509
26,E09000026,E09000026,Redbridge,Outer London,304200.0,110708,5641.9,53.918,35.8,22.8,65.0,12.2,-2912,3685,2960,40.2,India,7.55708,Pakistan,5.34323,Sri Lanka,2.59813,62.7008,24.5785,10534.0,54.572111,Romania,India,Bulgaria,68.3,79.1,57.6,7.9,4.12868,3.3,5.95765,17.1,10.2,44.7,33483,39272,29204,36860,25.1786,90700,22.935780,0.47,14595.0,74.7,69.6877,1.91192,11.2963,345000,1415.22,50,29.5144,34.8897,11.3137,24.0665,40.6,874.016,28.7,106339.0,1.072993,11.7546,2.98215,68.7,28,66.5269,9.834447,80.9,84.6,18.5,7.32,7.57,7.30,3.20,23.2937,7.910158,141.885,Lab,39.6825,55.5556,4.7619,39.7021
27,E09000027,E09000027,Richmond upon Thames,Outer London,197300.0,85108,5740.68,34.3688,38.8,20.7,64.5,14.8,-1192,913,1391,23.7,Ireland,1.76213,South Africa,1.42842,United States,1.40168,15.6748,10.4413,2580.0,20.554166,Italy,Poland,Romania,79.6,82.1,77.2,3.8,2.40944,4.3,4.38967,10.8,3.2,69.5,42076,.,38499,53470,48.6835,95900,11.224490,0.81,14185.0,78.8,56.3478,1.54203,9.68025,575000,1582.39,510,30.9368,38.4442,8.67977,21.9393,50.8,790.209,41.2,84918.0,1.063669,33.132,3.05746,70.5,26,53.4668,5.653144,82.4,86,12.6,7.54,7.75,7.33,3.20,12.5733,3.690024,137.417,Cons,72.2222,0,27.7778,46.1304

In [154]:
####  Data cleaning
#### renaming the columns, dropping NaN values and first 2 columns
df.rename(columns={'Area name': 'Borough'}, inplace=True)

In [155]:
df.dropna(subset = ["Inner/ Outer London"], inplace=True)
df.drop(['Code','New code'], axis = 1,  inplace=True)

In [156]:
df.describe()

,GLA Population Estimate 2017,"Average Age, 2017","Proportion of population aged 0-15, 2015","Proportion of population of working-age, 2015","Proportion of population aged 65 and over, 2015","Overseas nationals entering the UK (NINo), (2015/16)","New migrant (NINo) rates, (2015/16)",Employment rate (%) (2015),% of employment that is in public sector (2014),"Jobs Density, 2015","Number of active businesses, 2015",Two-year business survival rates (started in 2013),"Number of cars, (2011 Census)","Number of cars per household, (2011 Census)",% children living in out-of-work households (2015),Life satisfaction score 2011-14 (out of 10),Worthwhileness score 2011-14 (out of 10),Happiness score 2011-14 (out of 10),Anxiety score 2011-14 (out of 10),People aged 17+ with diabetes (%)
count,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,33.00000,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000
mean,267739.393939,36.375758,19.957576,68.254545,11.781818,9616.787879,55.329404,72.715152,17.321550,3.43303,16403.333333,73.769697,80739.818182,0.808031,14.086387,7.276061,7.555152,7.203636,3.352727,5.833916
std,75383.345058,2.487849,2.756246,3.911768,3.105384,5628.954975,29.414574,4.219384,4.924379,14.53315,8838.768355,3.444514,34808.818861,0.283972,4.291332,0.186697,0.159258,0.249472,0.481153,1.347994
min,8800.000000,31.400000,11.400000,62.300000,6.000000,975.000000,14.370245,64.600000,3.424988,0.40000,6560.000000,63.800000,1692.000000,0.385861,5.653144,6.590000,7.080000,5.990000,2.600000,2.637945
25%,231200.000000,35.000000,18.600000,64.900000,9.300000,6993.000000,37.630392,69.200000,13.949105,0.56000,11055.000000,73.000000,56966.000000,0.544025,10.439538,7.180000,7.450000,7.160000,3.180000,4.993388
50%,276200.000000,36.200000,20.600000,67.700000,11.700000,9259.000000,53.543508,73.100000,17.626527,0.67000,14350.000000,74.400000,76507.000000,0.796130,13.734973,7.280000,7.570000,7.210000,3.290000,5.908371
75%,321000.000000,37.700000,21.300000,72.100000,14.000000,12157.000000,66.245595,75.400000,21.104536,1.03000,18390.000000,75.800000,106339.000000,1.064753,17.054488,7.380000,7.670000,7.310000,3.470000,6.649965
max,389600.000000,43.200000,27.200000,75.300000,18.400000,25604.000000,152.224824,79.600000,27.260638,84.29000,55385.000000,78.800000,153908.000000,1.222244,23.425716,7.610000,7.860000,7.560000,5.570000,8.457954

In [157]:
df = df[['Borough','Gross Annual Pay, (2016)', 'Number of active businesses, 2015','Median House Price, 2015','Life satisfaction score 2011-14 (out of 10)']]

In [158]:
boroughs = df["Borough"]

In [159]:
# Convert an address into latitude and longitude values
latitude = []
longitude = []
for borough in boroughs:
    address = str(borough+', London, United Kingdom')
    geolocator = Nominatim(user_agent="london_explorer", timeout=3)
    geocode = RateLimiter(geolocator.geocode, min_delay_seconds=1)
    location = geolocator.geocode(address)
    try: 
        latitude.append(location.latitude)
        longitude.append(location.longitude)
    except:
        latitude.append("Not Found")
        longitude.append("Not Found")

In [160]:
df_2 = pd.DataFrame(list(zip(boroughs, latitude, longitude)), columns = ['Borough','Latitude','Longitude']) 
df_2.head()

                Borough   Latitude  Longitude
0        City of London  51.515618  -0.091998
1  Barking and Dagenham  51.554117   0.150504
2                Barnet  51.653090  -0.200226
3                Bexley  51.441679   0.150488
4                 Brent  51.563826  -0.275760

In [162]:
merged_df = df_2

# merge Borough info with Lat&Long info
merged_df = merged_df.join(df.set_index('Borough'), on='Borough')

merged_df.head()

,Borough,Latitude,Longitude,"Gross Annual Pay, (2016)","Number of active businesses, 2015","Median House Price, 2015",Life satisfaction score 2011-14 (out of 10)
0,City of London,51.515618,-0.091998,.,26130.0,799999,6.59
1,Barking and Dagenham,51.554117,0.150504,27886,6560.0,243500,7.14
2,Barnet,51.653090,-0.200226,33443,26190.0,445000,7.48
3,Bexley,51.441679,0.150488,34350,9075.0,275000,7.38
4,Brent,51.563826,-0.275760,29812,15745.0,407250,7.25

In [163]:
#### Foursquare info
CLIENT_ID = 'ORTHAQ5JF0X3SEIDFMZYUJJREGAYXCPYTLNLIUZSIMMPFJ3Q' # your Foursquare ID
CLIENT_SECRET = 'WF2XSULVMWFG13K40SU0UVP542R3HL0CV04UMMOAKHMNCZFK' # your Foursquare Secret
VERSION = '20180604' # Foursquare API version

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)

Your credentails:
CLIENT_ID: ORTHAQ5JF0X3SEIDFMZYUJJREGAYXCPYTLNLIUZSIMMPFJ3Q

In [164]:
#### sending request to Foursquare to find all Food related venues for each London Borough
LIMIT = 100
radius = 1000
venues = []
for borough in boroughs:
    
    # create the API request URL
    url = "https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&near={}&radius={}&limit={}&categoryId={}".format(
        CLIENT_ID,
        CLIENT_SECRET,
        VERSION,
        borough + ', London, United Kingdom', #   to add for foursquare search
        radius, 
        LIMIT,
       "4d4b7104d754a06370d81259") #   Category ID for Arts&Entertainment
    
    # make the GET request
    results = requests.get(url).json()["response"]['groups'][0]['items']
    
    # return only relevant information for each nearby venue
    for venue in results:
        venues.append((
            borough,
            venue['venue']['name'], 
            venue['venue']['location']['lat'], 
            venue['venue']['location']['lng'],  
            venue['venue']['categories'][0]['name']))

In [165]:
# convert the venues list into a new DataFrame
venues_df = pd.DataFrame(venues)

# define the column names
venues_df.columns = ['Borough', 'VenueName', 'VenueLatitude', 'VenueLongitude', 'VenueCategory']

print(venues_df.shape)
venues_df.head()

(739, 5)

,Borough,VenueName,VenueLatitude,VenueLongitude,VenueCategory
0,City of London,National Gallery,51.508876,-0.128478,Art Museum
1,City of London,National Portrait Gallery,51.509438,-0.128032,Art Gallery
2,City of London,English National Opera,51.509804,-0.126945,Opera House
3,City of London,The London Coliseum,51.509846,-0.127005,Theater
4,City of London,Trafalgar Square Lions,51.507641,-0.127888,Outdoor Sculpture

In [166]:
venues_df.groupby(["Borough"]).count()
print('There are {} uniques categories.'.format(len(venues_df['VenueCategory'].unique())))

There are 35 uniques categories.

In [167]:
#### Analyse each neighborhood
# one hot encoding
onehot = pd.get_dummies(venues_df[['VenueCategory']], prefix="", prefix_sep="")

# add borough column back to dataframe
onehot['Borough'] = venues_df['Borough'] 

# move borough column to the first column
fixed_columns = [onehot.columns[-1]] + list(onehot.columns[:-1])
onehot = onehot[fixed_columns]

print(onehot.shape)

grouped = onehot.groupby(["Borough"]).mean().reset_index()

print(grouped.shape)
grouped.head()

(739, 36)
(33, 36)

,Borough,Art Gallery,Art Museum,Arts & Entertainment,Comedy Club,Concert Hall,Dance Studio,Drive-in Theater,Exhibit,Go Kart Track,History Museum,Indie Movie Theater,Indie Theater,Jazz Club,Laser Tag,Memorial Site,Mini Golf,Movie Theater,Multiplex,Museum,Music Venue,Opera House,Outdoor Sculpture,Performing Arts Venue,Piano Bar,Planetarium,Public Art,Rock Club,Roller Rink,Rugby Stadium,Salsa Club,Science Museum,Street Art,Theater,Tour Provider,Zoo Exhibit
0,Barking and Dagenham,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.166667,0.333333,0.000000,0.0,0.0,0.0,0.0,0.000000,0.333333,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.166667,0.0,0.0
1,Barnet,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.166667,0.333333,0.000000,0.166667,0.000000,0.0,0.000000,0.333333,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
2,Bexley,0.000000,0.0,0.0,0.0,0.0,0.142857,0.142857,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.142857,0.285714,0.000000,0.0,0.000000,0.142857,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.142857,0.0,0.0
3,Brent,0.090909,0.0,0.0,0.0,0.0,0.181818,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.363636,0.090909,0.000000,0.090909,0.0,0.090909,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.090909,0.0,0.0
4,Bromley,0.000000,0.0,0.0,0.0,0.0,0.285714,0.000000,0.0,0.000000,0.000000,0.142857,0.0,0.0,0.0,0.0,0.000000,0.285714,0.000000,0.000000,0.142857,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.142857,0.0,0.0

In [168]:
num_top_venues = 5

for hood in grouped['Borough']:
    print("----"+hood+"----")
    temp = grouped[grouped['Borough'] == hood].T.reset_index()
    temp.columns = ['venue','freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

----Barking and Dagenham----
            venue  freq
0  History Museum  0.33
1   Movie Theater  0.33
2         Theater  0.17
3   Go Kart Track  0.17
4       Rock Club  0.00


----Barnet----
                   venue  freq
0          Movie Theater  0.33
1  Performing Arts Venue  0.33
2                 Museum  0.17
3              Mini Golf  0.17
4             Public Art  0.00


----Bexley----
                   venue  freq
0                 Museum  0.29
1           Dance Studio  0.14
2  Performing Arts Venue  0.14
3       Drive-in Theater  0.14
4              Multiplex  0.14


----Brent----
               venue  freq
0      Movie Theater  0.36
1       Dance Studio  0.18
2        Art Gallery  0.09
3            Theater  0.09
4  Outdoor Sculpture  0.09


----Bromley----
                 venue  freq
0        Movie Theater  0.29
1         Dance Studio  0.29
2              Theater  0.14
3          Music Venue  0.14
4  Indie Movie Theater  0.14


----Camden----
         venue  freq
0  Zoo Exhibit  0.48
1  Music Venue  0.16
2  Art Gallery  0.07
3      Theater  0.05
4    Rock Club  0.05


----City of London----
               venue  freq
0            Theater  0.44
1        Art Gallery  0.12
2  Outdoor Sculpture  0.06
3      Movie Theater  0.05
4         Art Museum  0.04


----Croydon----
                   venue  freq
0            Music Venue  0.36
1            Art Gallery  0.14
2  Performing Arts Venue  0.14
3             Public Art  0.07
4   Arts & Entertainment  0.07


----Ealing----
                   venue  freq
0                Theater  0.33
1            Art Gallery  0.17
2           Dance Studio  0.17
3  Performing Arts Venue  0.17
4              Multiplex  0.17


----Enfield----
            venue  freq
0  History Museum  0.25
1    Dance Studio  0.25
2         Theater  0.25
3   Movie Theater  0.12
4          Museum  0.12


----Greenwich----
               venue  freq
0  Outdoor Sculpture  0.17
1        Art Gallery  0.14
2       Dance Studio  0.10
3        Planetarium  0.07
4            Theater  0.07


----Hackney----
                   venue  freq
0            Art Gallery  0.27
1  Performing Arts Venue  0.18
2         History Museum  0.09
3                 Museum  0.09
4          Movie Theater  0.09


----Hammersmith and Fulham----
               venue  freq
0        Comedy Club  0.29
1       Dance Studio  0.29
2  Outdoor Sculpture  0.14
3            Theater  0.14
4      Go Kart Track  0.14


----Haringey----
                   venue  freq
0  Performing Arts Venue  0.27
1                 Museum  0.13
2            Art Gallery  0.07
3          Indie Theater  0.07
4                Theater  0.07


----Harrow----
                 venue  freq
0         Dance Studio  0.33
1          Art Gallery  0.11
2  Indie Movie Theater  0.11
3           Public Art  0.11
4               Museum  0.11


----Havering----
          venue  freq
0     Multiplex  0.25
1       Theater  0.25
2  Dance Studio  0.12
3     Mini Golf  0.12
4   Music Venue  0.12


----Hillingdon----
           venue  freq
0    Art Gallery  0.18
1  Indie Theater  0.09
2        Theater  0.09
3    Music Venue  0.09
4         Museum  0.09


----Hounslow----
           venue  freq
0  Rugby Stadium  0.44
1        Theater  0.11
2  Memorial Site  0.11
3   Dance Studio  0.11
4         Museum  0.11


----Islington----
           venue  freq
0    Music Venue  0.21
1        Theater  0.18
2   Dance Studio  0.15
3    Art Gallery  0.12
4  Movie Theater  0.03


----Kensington and Chelsea----
               venue  freq
0            Exhibit  0.28
1     Science Museum  0.22
2        Art Gallery  0.09
3  Outdoor Sculpture  0.07
4       Concert Hall  0.04


----Kingston upon Thames----
          venue  freq
0   Art Gallery  0.29
1  Dance Studio  0.14
2       Theater  0.14
3     Rock Club  0.14
4    Public Art  0.14


----Lambeth----
               venue  freq
0            Theater  0.22
1  Outdoor Sculpture  0.15
2        Art Gallery  0.12
3       Dance Studio  0.09
4        Music Venue  0.06


----Lewisham----
                 venue  freq
0          Art Gallery  0.47
1  Indie Movie Theater  0.13
2          Music Venue  0.13
3               Museum  0.07
4         Dance Studio  0.07


----Merton----
          venue  freq
0       Theater   0.6
1   Music Venue   0.2
2  Dance Studio   0.2
3     Rock Club   0.0
4   Opera House   0.0


----Newham----
               venue  freq
0      Movie Theater  0.17
1  Outdoor Sculpture  0.13
2        Music Venue  0.13
3       Dance Studio  0.09
4        Art Gallery  0.04


----Redbridge----
           venue  freq
0   Dance Studio  0.33
1    Art Gallery  0.17
2  Movie Theater  0.17
3         Museum  0.17
4        Theater  0.17


----Richmond upon Thames----
            venue  freq
0     Art Gallery  0.17
1   Movie Theater  0.17
2         Theater  0.17
3  History Museum  0.11
4          Museum  0.11


----Southwark----
                   venue  freq
0         History Museum  0.20
1            Art Gallery  0.16
2  Performing Arts Venue  0.11
3                Theater  0.11
4            Music Venue  0.09


----Sutton----
          venue  freq
0   Art Gallery  0.50
1  Dance Studio  0.25
2     Multiplex  0.25
3   Comedy Club  0.00
4  Concert Hall  0.00


----Tower Hamlets----
               venue  freq
0       Dance Studio  0.21
1        Art Gallery  0.14
2             Museum  0.14
3  Outdoor Sculpture  0.14
4       Concert Hall  0.07


----Waltham Forest----
                   venue  freq
0            Art Gallery  0.30
1                Theater  0.09
2  Performing Arts Venue  0.09
3            Music Venue  0.06
4                 Museum  0.06


----Wandsworth----
            venue  freq
0    Dance Studio  0.29
1       Multiplex  0.14
2       Mini Golf  0.14
3     Music Venue  0.14
4  History Museum  0.14


----Westminster----
               venue  freq
0  Outdoor Sculpture  0.30
1            Theater  0.16
2        Art Gallery  0.12
3       Dance Studio  0.06
4     History Museum  0.05

In [169]:
####Create a data frame of the venues¶
####Function to sort the venues in descending order.

def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

In [170]:
num_top_venues = 5

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Borough']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
boroughs_venues_sorted = pd.DataFrame(columns=columns)
boroughs_venues_sorted['Borough'] = grouped['Borough']

for ind in np.arange(grouped.shape[0]):
    boroughs_venues_sorted.iloc[ind, 1:] = return_most_common_venues(grouped.iloc[ind, :], num_top_venues)

boroughs_venues_sorted.head()

,Borough,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue
0,Barking and Dagenham,History Museum,Movie Theater,Go Kart Track,Theater,Zoo Exhibit
1,Barnet,Movie Theater,Performing Arts Venue,Museum,Mini Golf,History Museum
2,Bexley,Museum,Multiplex,Theater,Dance Studio,Drive-in Theater
3,Brent,Movie Theater,Dance Studio,Multiplex,Outdoor Sculpture,Music Venue
4,Bromley,Movie Theater,Dance Studio,Theater,Music Venue,Indie Movie Theater

In [171]:
###Clustering similar boroughs together using k - means clustering

# set number of clusters
kclusters = 5

grouped_clustering = grouped.drop('Borough', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10]

array([3, 3, 2, 2, 2, 3, 0, 3, 1, 2], dtype=int32)

In [172]:
# add clustering labels
boroughs_venues_sorted.insert(0, 'Cluster Labels', kmeans.labels_)

# merge toronto_grouped with toronto_data to add latitude/longitude for each neighborhood
merged = merged_df.join(boroughs_venues_sorted.set_index('Borough'), on='Borough')

merged.head() # check the last columns!

,Borough,Latitude,Longitude,"Gross Annual Pay, (2016)","Number of active businesses, 2015","Median House Price, 2015",Life satisfaction score 2011-14 (out of 10),Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue
0,City of London,51.515618,-0.091998,.,26130.0,799999,6.59,0,Theater,Art Gallery,Outdoor Sculpture,Movie Theater,Art Museum
1,Barking and Dagenham,51.554117,0.150504,27886,6560.0,243500,7.14,3,History Museum,Movie Theater,Go Kart Track,Theater,Zoo Exhibit
2,Barnet,51.653090,-0.200226,33443,26190.0,445000,7.48,3,Movie Theater,Performing Arts Venue,Museum,Mini Golf,History Museum
3,Bexley,51.441679,0.150488,34350,9075.0,275000,7.38,2,Museum,Multiplex,Theater,Dance Studio,Drive-in Theater
4,Brent,51.563826,-0.275760,29812,15745.0,407250,7.25,2,Movie Theater,Dance Studio,Multiplex,Outdoor Sculpture,Music Venue

In [173]:
merged['Cluster Labels'] = merged['Cluster Labels'].astype(int)

In [174]:
# create map of New York using latitude and longitude values

map_clusters = folium.Map(location=[latitude[0], longitude[0]], zoom_start=11)
# set color scheme for the clusters
x = np.arange(kclusters)
ys = [i + x + (i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster, price in zip(merged['Latitude'], merged['Longitude'], merged['Borough'], merged['Cluster Labels'], merged['Median House Price, 2015']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster) + ' with the median house price ' + '£{:,.2f}'.format(int(price)), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=8,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.5).add_to(map_clusters)
    
map_clusters

In [175]:
#Each cluster is color coded for the ease of presentation, we can see that majority of the neighborhood falls in the red cluster which is the first cluster. Three neighborhoods have their own cluster (Blue, Purple and Yellow), these are clusters two three and five. The green cluster consists of two neighborhoods which is the 4th cluster.¶

In [176]:
#Analysis
#Analyse each of the clusters to identify the characteristics of each cluster and the neighborhoods in them.

In [178]:
merged[merged['Cluster Labels'] == 0]

,Borough,Latitude,Longitude,"Gross Annual Pay, (2016)","Number of active businesses, 2015","Median House Price, 2015",Life satisfaction score 2011-14 (out of 10),Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue
0,City of London,51.515618,-0.091998,.,26130.0,799999,6.59,0,Theater,Art Gallery,Outdoor Sculpture,Movie Theater,Art Museum
23,Merton,51.410803,-0.188099,33989,12070.0,415000,7.28,0,Theater,Music Venue,Dance Studio,Zoo Exhibit,Go Kart Track

In [179]:
merged[merged['Cluster Labels'] == 1]

,Borough,Latitude,Longitude,"Gross Annual Pay, (2016)","Number of active businesses, 2015","Median House Price, 2015",Life satisfaction score 2011-14 (out of 10),Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue
8,Ealing,51.512655,-0.305195,31331,18700.0,430000,7.29,1,Theater,Multiplex,Performing Arts Venue,Dance Studio,Art Gallery
15,Havering,51.544369,-0.144303,33398,10115.0,287500,7.39,1,Multiplex,Theater,History Museum,Music Venue,Dance Studio
31,Wandsworth,51.457027,-0.193261,41064,18695.0,557000,7.37,1,Dance Studio,Multiplex,History Museum,Theater,Music Venue

In [180]:
merged[merged['Cluster Labels'] == 2]

,Borough,Latitude,Longitude,"Gross Annual Pay, (2016)","Number of active businesses, 2015","Median House Price, 2015",Life satisfaction score 2011-14 (out of 10),Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue
3,Bexley,51.441679,0.150488,34350,9075.0,275000,7.38,2,Museum,Multiplex,Theater,Dance Studio,Drive-in Theater
4,Brent,51.563826,-0.275760,29812,15745.0,407250,7.25,2,Movie Theater,Dance Studio,Multiplex,Outdoor Sculpture,Music Venue
5,Bromley,51.402805,0.014814,37682,15695.0,374975,7.54,2,Movie Theater,Dance Studio,Theater,Music Venue,Indie Movie Theater
9,Enfield,51.652085,-0.081018,31603,13925.0,320000,7.26,2,History Museum,Theater,Dance Studio,Movie Theater,Museum
10,Greenwich,51.482084,-0.004542,32415,10060.0,340000,7.20,2,Outdoor Sculpture,Art Gallery,Dance Studio,Indie Movie Theater,Museum
12,Hammersmith and Fulham,51.492038,-0.223640,38041,14095.0,730000,7.41,2,Comedy Club,Dance Studio,Theater,Outdoor Sculpture,Go Kart Track
14,Harrow,51.596769,-0.337275,33202,15155.0,396150,7.33,2,Dance Studio,Multiplex,Public Art,Indie Movie Theater,Movie Theater
16,Hillingdon,51.542519,-0.448335,33508,13505.0,350000,7.37,2,Art Gallery,Music Venue,Dance Studio,Indie Theater,Memorial Site
17,Hounslow,51.468613,-0.361347,31001,13910.0,355000,7.31,2,Rugby Stadium,Memorial Site,Theater,Museum,Comedy Club
18,Islington,51.538429,-0.099905,36592,22110.0,583000,7.17,2,Music Venue,Theater,Dance Studio,Art Gallery,Outdoor Sculpture
21,Lambeth,51.501301,-0.117287,33441,17280.0,450000,7.14,2,Theater,Outdoor Sculpture,Art Gallery,Dance Studio,Performing Arts Venue
24,Newham,51.530000,0.029318,27942,11055.0,305000,7.12,2,Movie Theater,Outdoor Sculpture,Music Venue,Dance Studio,Multiplex
25,Redbridge,51.576320,0.045410,33483,14595.0,345000,7.32,2,Dance Studio,Art Gallery,Museum,Movie Theater,Theater
29,Tower Hamlets,51.508672,-0.016912,36429,18390.0,415000,7.22,2,Dance Studio,Art Gallery,Outdoor Sculpture,Museum,Theater
32,Westminster,51.501356,-0.124930,42141,55385.0,920000,7.25,2,Outdoor Sculpture,Theater,Art Gallery,Dance Studio,History Museum

In [181]:
merged[merged['Cluster Labels'] == 3]

,Borough,Latitude,Longitude,"Gross Annual Pay, (2016)","Number of active businesses, 2015","Median House Price, 2015",Life satisfaction score 2011-14 (out of 10),Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue
1,Barking and Dagenham,51.554117,0.150504,27886,6560.0,243500,7.14,3,History Museum,Movie Theater,Go Kart Track,Theater,Zoo Exhibit
2,Barnet,51.653090,-0.200226,33443,26190.0,445000,7.48,3,Movie Theater,Performing Arts Venue,Museum,Mini Golf,History Museum
6,Camden,51.542305,-0.139560,39796,31385.0,700000,7.14,3,Zoo Exhibit,Music Venue,Art Gallery,Rock Club,Museum
7,Croydon,51.371305,-0.101957,32696,15540.0,300000,7.10,3,Music Venue,Art Gallery,Performing Arts Venue,Theater,Movie Theater
11,Hackney,51.543240,-0.049362,32056,18510.0,485000,7.03,3,Art Gallery,Performing Arts Venue,History Museum,Museum,Indie Movie Theater
13,Haringey,51.587930,-0.105410,31063,12675.0,432500,7.24,3,Performing Arts Venue,Museum,Multiplex,Concert Hall,Dance Studio
19,Kensington and Chelsea,51.498995,-0.199123,.,14350.0,1200000,7.61,3,Exhibit,Science Museum,Art Gallery,Outdoor Sculpture,Theater
26,Richmond upon Thames,51.440461,-0.305519,42076,14185.0,575000,7.54,3,Art Gallery,Theater,Movie Theater,Museum,History Museum
27,Southwark,51.502922,-0.103458,33864,17120.0,475000,7.47,3,History Museum,Art Gallery,Performing Arts Venue,Theater,Music Venue
30,Waltham Forest,51.598169,-0.017837,30859,11020.0,366569,7.19,3,Art Gallery,Performing Arts Venue,Theater,Museum,Music Venue

In [182]:
merged[merged['Cluster Labels'] == 4]

,Borough,Latitude,Longitude,"Gross Annual Pay, (2016)","Number of active businesses, 2015","Median House Price, 2015",Life satisfaction score 2011-14 (out of 10),Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue
20,Kingston upon Thames,51.409627,-0.306262,37979,8970.0,410000,7.34,4,Art Gallery,Rock Club,Dance Studio,Public Art,Multiplex
22,Lewisham,51.462432,-0.010133,33157,10405.0,352000,7.18,4,Art Gallery,Music Venue,Indie Movie Theater,Dance Studio,Museum
28,Sutton,51.357511,-0.173640,32697,8710.0,320000,7.46,4,Art Gallery,Dance Studio,Multiplex,Street Art,Science Museum

In [147]:
#The cluster one is the biggest cluster with 9 of the 15 neighborhoods in the borough Kingston upon Thames. Upon closely examining these neighborhoods we can see that the most common venues in these neighborhoods are Restaurants, Pubs, Cafe, Supermarkets, and stores.

In [148]:
#Results and Discussion
#The aim of this project is to help people who want to relocate to the safest borough in London, expats can chose the neighborhoods to which they want to relocate based on the most common venues in it. For example if a person is looking for a neighborhood with good connectivity and public transportation we can see that Clusters 3 and 4 have Train stations and Bus stops as the most common venues. If a person is looking for a neighborhood with stores and restaurants in a close proximity then the neighborhoods in the first cluster is suitable. For a family I feel that the neighborhoods in Cluster 4 are more suitable dues to the common venues in that cluster, these neighborhoods have common venues such as Parks, Gym/Fitness centers, Bus Stops, Restaurants, Electronics Stores and Soccer fields which is ideal for a family.

#Conclusion
#This project helps a person get a better understanding of the neighborhoods with respect to the most common venues in that neighborhood. It is always helpful to make use of technology to stay one step ahead i.e. finding out more about places before moving into a neighborhood. We have just taken safety as a primary concern to shortlist the borough of London. The future of this project includes taking other factors such as cost of living in the areas into consideration to shortlist the borough based on safety and a predefined budget.